<!DOCTYPE html>
<html>
<head>
  <title>DB</title>
</head>
<body>
  <form action="/db/new" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" placeholder="username" autocomplete="username" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/db">Back to user base:</a>
</body>
</html>